body{
    background-color:rgb(25, 25, 25) ;
    color: white;
}
.para{
    font-weight: bold;
    font-size: 20px;
    font-family: Arial;
}
.move-icon{
    height: 50px;
}
.move-button{
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    cursor: pointer;
    margin-left: 10px;

}
.result{
    font-size: 30px;
    font-weight: bold;
    font-family: Arial;
    margin-top: 15px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.bt-reset{
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 12px;
    border: none;
    margin-top: 20px;
}